<div style="padding: 20px 20px 20px 20px;">
    <h1 style="text-align: center;" class="titillium-web-light"> Listado de Socios </h1>
    <table class="table table-striped, titillium-web-light">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Codigo</th>
            <th scope="col">Nombre Completo</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
            @for (item of partners; track $index) {
          <tr>
            <td>#</td>
            <td>{{item.partnerId}}</td>   
            <td>{{item.partnerName}}</td>
            <td><button type="button" class="btn btn-outline-dark" >Pagar</button></td>
            <td><button type="button" class="btn btn-outline-dark" (click)="mostrarDeudas(item.partnerId)">Deudas</button></td>
          </tr>
        }
          
        </tbody>
      </table>
      
</div>

